# User-specified directories
reference/
action_history/
datasets/
assets/

# Python cache and compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# Testing cache
.pytest_cache/
.mypy_cache/
tests/

# Logs
logs/

# Python virtual environments
.venv/
venv/
env/

# Distribution / packaging
dist/
build/
*.egg-info/

# IDE / Editor specific
.vscode/
.idea/

# other 
*.webm

outputs/*


# Model outputs and training artifacts
outputs/
*.pth
*.safetensors
*.ckpt

# Large data files
*.hdf5
*.h5